# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.swp
*.lock
*.xcsettings
*.xcscheme

# Swift Package Manager
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# User settings
xcuserdata/

# Other
.DS_Store
